$color-primary: #2ecc71;
$color-secondary: #27ae60;
$color-teritary: #1890ff;
$color-forty: #49759f;
$color-snow: #f3f3f3ff;
$color-white: #ffffff;
$color-black: #434343;
$color-gray: #bbbbbb;

// text
.text-bolder { font-weight: bold }

// ant
.ant-btn {
    padding: .5rem 2rem;
    height: auto;
    &:focus {
        outline: 0;
    }
}

.ant-spin-dot-item {
    background-color: $color-primary;
}

.ant-input-number {
    width: 100%;
}

.ant-btn-primary {
    background-color: $color-teritary;
    color: $color-white;
    border: 1px solid $color-gray;
    height: auto;
    &:focus {
        background-color: $color-teritary;
        color: $color-white;
        border: 1px solid $color-gray;
    }
    &:hover {
        background-color: $color-forty;
        color: $color-white;
        border: 1px solid $color-forty;
    }
}

.ant-btn-secondary {
    color: $color-black;
    border: 1px solid $color-gray;
    height: auto;
    &:focus {
        color: $color-black;
        border: 1px solid $color-gray;
    }
    &:hover {
        background-color: $color-secondary;
        color: $color-white;
        border: 1px solid $color-gray;
    }
}

.ant-input {
    &:hover, &:focus {
        border: 1px solid $color-black;
        box-shadow: none;
        outline: 0;
    }
}

.ant-layout {
    height: 100vh;
    .ant-layout-header {
        background: $color-white;
        padding: 0 16px;
    }
    .anticon.trigger {
        font-size: 20px;
        padding: 0 24px 0 0;
        cursor: pointer;
        transition: color 0.3s;
    }
    .ant-layout-sider {
        flex: 0 0 250px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        width: 250px !important;
        &.ant-layout-sider-collapsed {
            flex: 0 0 80px !important;
            max-width: 80px !important;
            min-width: 80px !important;
            width: 80px !important;
        }
        .ant-menu {
            // menu submenu
            .ant-menu-submenu {
                color: rgba(255, 255, 255, 0.65);
                .ant-menu-submenu-title {
                    padding: 0px 24px;
                }
                &.ant-menu-submenu-open {
                    color: $color-white;
                    .icon-menu {
                        opacity: 1;
                    }
                }
                &.ant-menu-submenu-vertical {
                    span {
                        display: inline-block;
                        max-width: 0;
                        opacity: 0;
                    }
                }
            }
            // menu vertical
            .ant-menu-item {
                padding: 0 24px;
            }
            &.ant-menu-vertical {
                .ant-menu-item {
                    span {
                        display: inline-block;
                        max-width: 0;
                        opacity: 0;
                    }
                }
            }
            // icon
            .icon-menu {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                opacity: .65;
            }
        }
    }
    
    #components-layout-demo-custom-trigger .trigger:hover {
        color: #1890ff;
    }
    
    #components-layout-demo-custom-trigger .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
}

// loading
#loading {
    height: 100vh;
    display: grid;
    .ant-spin {
        display: block;
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
}

//  header
.plate-header {
    display: flex;
    align-items: center;
    .title-plate-header {
        font-size: 18px;
        font-weight: bold;
    }
    .button-plate-header {
        margin-left: auto;
    }
}

#login {
    background-image: linear-gradient($color-teritary 30%, $color-forty);
    // background-image: linear-gradient($color-forty 5%, $color-teritary 15%, $color-white);
    height: 100vh;
    display: grid;
    .content {
        width: 600px;
        max-height: 100vh;
        margin: auto;
        padding: 2rem 3rem;
        background: $color-white;
        border: 1px solid $color-gray;
        .title-login {
            text-align: left;
            border-right: 1px solid $color-gray;
            h1.ant-typography {
                line-height: normal;
                margin: 0;
            }
        }
        .form-login {
            padding-left: 3rem;
            Input {
                margin-bottom: 1rem;
                padding: .5rem;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                width: 100%;
            }
        }
    }
}