.text-bolder {
  font-weight: bold;
}

.ant-btn {
  padding: 0.5rem 2rem;
  height: auto;
}
.ant-btn:focus {
  outline: 0;
}

.ant-spin-dot-item {
  background-color: #2ecc71;
}

.ant-input-number {
  width: 100%;
}

.ant-btn-primary {
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #bbbbbb;
  height: auto;
}
.ant-btn-primary:focus {
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #bbbbbb;
}
.ant-btn-primary:hover {
  background-color: #49759f;
  color: #ffffff;
  border: 1px solid #49759f;
}

.ant-btn-secondary {
  color: #434343;
  border: 1px solid #bbbbbb;
  height: auto;
}
.ant-btn-secondary:focus {
  color: #434343;
  border: 1px solid #bbbbbb;
}
.ant-btn-secondary:hover {
  background-color: #27ae60;
  color: #ffffff;
  border: 1px solid #bbbbbb;
}

.ant-input:hover, .ant-input:focus {
  border: 1px solid #434343;
  box-shadow: none;
  outline: 0;
}

.ant-layout {
  height: 100vh;
}
.ant-layout .ant-layout-header {
  background: #ffffff;
  padding: 0 16px;
}
.ant-layout .anticon.trigger {
  font-size: 20px;
  padding: 0 24px 0 0;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-layout .ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout .ant-layout-sider.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-submenu {
  color: rgba(255, 255, 255, 0.65);
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  padding: 0px 24px;
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-submenu.ant-menu-submenu-open {
  color: #ffffff;
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-submenu.ant-menu-submenu-open .icon-menu {
  opacity: 1;
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-submenu.ant-menu-submenu-vertical span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.ant-layout .ant-layout-sider .ant-menu .ant-menu-item {
  padding: 0 24px;
}
.ant-layout .ant-layout-sider .ant-menu.ant-menu-vertical .ant-menu-item span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.ant-layout .ant-layout-sider .ant-menu .icon-menu {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  opacity: 0.65;
}
.ant-layout #components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.ant-layout #components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#loading {
  height: 100vh;
  display: grid;
}
#loading .ant-spin {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.plate-header {
  display: flex;
  align-items: center;
}
.plate-header .title-plate-header {
  font-size: 18px;
  font-weight: bold;
}
.plate-header .button-plate-header {
  margin-left: auto;
}

#login {
  background-image: linear-gradient(#1890ff 30%, #49759f);
  height: 100vh;
  display: grid;
}
#login .content {
  width: 600px;
  max-height: 100vh;
  margin: auto;
  padding: 2rem 3rem;
  background: #ffffff;
  border: 1px solid #bbbbbb;
}
#login .content .title-login {
  text-align: left;
  border-right: 1px solid #bbbbbb;
}
#login .content .title-login h1.ant-typography {
  line-height: normal;
  margin: 0;
}
#login .content .form-login {
  padding-left: 3rem;
}
#login .content .form-login Input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
